
// COLORS

$white      = #ffffff
$light-gray = #edeeea
$gray       = #333333
$red        = #d31b33
$blue       = #2d42d1
$dark-blue  = #0f1e84
$green      = #4a9e12
$dark-green = #428416
   
  
@lost gutter 5px;
  