
// OPTIONS

// 1. Font stacks

  // sans-serif

  helvetica      = "Helvetica Neue", Helvetica, Arial, sans-serif
  lato           = Lato, helvetica-neue
  lucidia-grande = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif
  open-sans      = 'Open Sans', helvetica
  roboto         = Roboto, helvetica
  verdana        = Verdana, Geneva, sans-serif
  montserrat     = Montserrat, helvetica

    // serif

  droid-serif      = 'Droid Serif', georgia
  georgia          =  Georgia, Cambria, "Times New Roman", Times, serif
  noto-serif       = 'Noto Serif', georgia
  source-serif-pro = 'Source Serif Pro', georgia
  source-sans-pro  = 'Source Sans Pro', georgia
  rhodium          = 'Rhodium Libre', georgia
  sumana           = 'Sumana', georgia

    // monospace

  monospace       = unquote("'Bitstream Vera Sans Mono', Consolas, Courier, monospace")
  source-code-pro = 'Source Code Pro', monospace
  
  // cursive
    
  great-vibes       = 'Great Vibes', cursive
  lobster           = 'Lobster', cursive
  berkshire-swash   = 'Berkshire Swash', cursive
  norican           = 'Norican', cursive
  delius-swash-caps = 'Delius Swash Caps', cursive;
  sofia             = 'Sofia', cursive;
