doctype html
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content=)
    meta(name='author', content=DiegoAz)
    meta(name='viewport', content='width=device-width initial-scale=1')
    title= jeet

    //- CSS

    
    link(rel='stylesheet', href='../css/_master.css')
    //- link(rel='stylesheet', href='css/animate.css')
    //- link(rel='stylesheet', href='css/hover-min.css')
    
    //- FONTS
    
    //- Sans Serif
      //- Lato      

    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lato:600,700,900,700italic,900italic')

    //- Montserrat
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Montserrat')

    //- Serif
      //- Source Serif Pro

    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Source+Serif+Pro:600,600,700')

      //- Rhodium Libre
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Rhodium+Libre')

    link(href='https://fonts.googleapis.com/css?family=Sumana', rel='stylesheet')
   

    //- Monospace
      //- Source Code Pro

    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Source+Code+Pro')

    //- Cursive
      //- Great vibes

    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Great+Vibes')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Berkshire+Swash')

    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Norican')

    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Delius+Swash+Caps')

    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Sofia')

    link(href='https://fonts.googleapis.com/css?family=Lobster', rel='stylesheet', type='text/css')





    //- JAVASCRIPT

    //- jQuery

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    
    //- own animations
    
    script(type='text/javascript', src='js/animations.js')

  //- velocity
  //- script(type='text/javascript', src='js/velocity.js')
  //- script(type='text/javascript', src='js/velocity.ui.js')  

  body
    block content


  


