

// 1. Font stacks

// system
  	
system =  BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto,Helvetica, Arial, sans-serif 

// sans-serif

helvetica      = "Helvetica Neue", Helvetica, Arial, sans-serif
karla          = 'Karla', helvetica


// serif

georgia          =  Georgia, Cambria, "Times New Roman", Times, serif
lora             = 'Lora', georgia