header
  lost-utility clearfix
  
  > nav, section
    lost-column 1/2    


.wrapper
  lost-utility clearfix

  > section.sidebar
    lost-column 1/5
    
  > section.cards
    lost-column 3/5
    
    > .card
      lost-waffle 1/2
    
  > section.filters
    lost-column 1/5     