
$link-color = $blue

.main-nav
  // lost-utility edit
  // width 80%
  // margin 0 auto  
  
  // > ul
  //   // background #000
  //   margin-left 60%
    
  > ul li
    display inline-block
    margin-right 2%
    
  > ul li a
    text-decoration none
    color $link-color
    
  > ul li a.active
    text-decoration underline