// @import 'abstracts/_variables'

$background = $blue
$text-color = $light-gray


.card
  padding 5% 
  background $background
  text-align center
  font-family montserrat      
  min-height 250px
  
  > h1
    color $text-color
    
  > p
    color $text-color
    
  &:hover
    background lighten($background, 10%)

  